@model SyncMobile.Models.PathGroup

@section Header
{
    <div data-role="navbar">
        <ul>
            <li>@Html.ActionLink("Watch", "Index", "Home")</li>
            <li>@Html.ActionLink("Synchronized", "Synced", "Home")</li>
            <li>@Html.ActionLink("Not Synchronized", "NotSynced", "Home")</li>
            <li>@Html.ActionLink("Not Watched", "NotWatched", "Home", new { @class = "ui-btn-active" })</li>
            <li>@Html.ActionLink("Error Files", "ErrorFiles", "Home")</li>
        </ul>
    </div>
}

@using (Html.BeginForm("NotWatched", "Home", FormMethod.Post, new { @id = "editSettings" }))
{
    <input value="Submit" type="submit">
    <div data-role="collapsible-set">
        <div data-filter="true">
            <ul data-role="listview" data-inset="true">
                @Html.EditorFor(m => m.PathInformations)
            </ul>
        </div>
     </div>
   
}


