@using SyncMobile.Utils
@model SyncMobile.Models.SyncInformation

<div class="edit-form">
    <form>
        <div class="inline-left" style="margin: 10px 10px 2px 10px">
            <label for="edit-season">Season:</label>
            <input id="edit-season" name="season" type="text" value="@Model.Season" />
        </div>

        <div class="inline-left" style="margin: 10px 10px 2px 10px; ">
            <label for="edit-episode">Episode: </label>
            <input id="edit-episode" name="episode" type="text" value="@Model.Episode" />
        </div>

        <div class="inline-left" style="margin: 25px 10px 2px 10px">
            @Html.LabelFor(model => model.IsSynced)
            @Html.CheckBoxFor(model => model.IsSynced, Swatches.Normal, true, new { @class = "edit-issynced" })
        </div>
        <div class="inline-left" style="margin: 25px 10px 2px 10px">
            @Html.LabelFor(model => model.IsMissing)
            @Html.CheckBoxFor(model => model.IsMissing, Swatches.Normal, true, new { @class = "edit-ismissing" })
        </div>        
        <div class="inline-left" style="margin: 25px 10px 2px 10px">
            <a id="edit-item-delete-@Model.FileGUID" class="edit-item-delete inline-left ui-btn ui-btn-b ui-icon-delete ui-corner-all ui-btn-inline">Delete</a>
        </div>

        <div class="inline-left" style="margin: 30px 10px 2px 55px">
            <a id="edit-item-save-@Model.FileGUID" style="padding:2px" class="edit-item-save inline-left ui-btn ui-btn-b ui-icon-check ui-btn-icon-notext ui-corner-all ui-btn-inline">Save</a>
            <a href="#" style="padding:2px" class="edit-item-cancel inline-left ui-btn ui-btn-b ui-icon-delete ui-btn-icon-notext ui-corner-all ui-btn-inline">Cancel</a>
        </div>
    </form>
</div>



<script type="text/javascript">
    
    $().ready(function () {

        $(this).parents("li").trigger('create');
        $(".edit-form").trigger("create");

        $(".edit-item-cancel").click(null, function () {

            $("#partial-div-@Model.FileGUID").empty();
        });

        $("#edit-item-save-@Model.FileGUID").click(null, function () {

           var $fm = $(this).parents(".edit-form");
            $.ajax({
                url: "/Home/UpdateItem",
                type: 'POST',
                data: {
                    id: $(this).parents("li").attr("id"),
                    season: $fm.find("#edit-season").val(),
                    episode: $fm.find("#edit-episode").val(),
                    issynced: $fm.find(".edit-issynced").prop("checked"),
                    ismissing: $fm.find(".edit-ismissing").prop("checked")
                    },
                success: function () { $(this).parents("li").trigger('create'); },
                error: function () { alert("An Error Occured!!"); }
            });

            $("#partial-div-@Model.FileGUID").empty();
            return false;
        });

        $("#edit-item-delete-@Model.FileGUID").click(null, function () {

            var $fm = $(this).parents(".edit-form");
            $.ajax({
                url: "/Home/DeleteItem",
                type: 'POST',
                data: {
                    id: $(this).parents("li").attr("id")
                },
                success: function () {
                    alert("Deleted...");
                },
            });

            $("#partial-div-@Model.FileGUID").empty();
            return false;
        });

    });

</script>


